<?php
function generateHierarchy($item)
{
?>
    <div class="editable-box expandable-title title <?= $item->getClassName() ?>" id="<?= $item->getClassName() ?>.<?= $item->getId() ?>.title">
        <?php if (in_array($item->getClassName(),['Syllabus'])):?>
        <h1 class="editable-text"><?= $item->getTitle() ?></h1>
        <?php endif; ?>
        <?php if (in_array($item->getClassName(),['Category'])):?>
        <h3 class="editable-text"><?= $item->getTitle() ?></h3>
        <?php endif; ?>
        <?php if (in_array($item->getClassName(),['Topic', 'Task'])):?>
        <span class="editable-text"><?= $item->getTitle() ?></span>
        <?php endif; ?>
    </div>
    <div class="expandable-content content <?= $item->getClassName() ?>">
        <div class="editable-box description <?= $item->getClassName() ?>" id="<?= $item->getClassName() ?>.<?= $item->getId() ?>.description">
            <span>Description: </span>
            <span class="editable-text"><?= $item->getDescription() ?></span>
        </div>
        <div class="editable-box comments user-syllabus <?= $item->getClassName() ?>" id="<?= $item->getClassName() ?>.<?= $item->getId() ?>.comments">
            <span>Your comment: </span>
            <span class="editable-text"><?= $item->getUserComments() ?></span>
        </div>
        <?php if (in_array($item->getClassName(),['Topic'])): ?>
        <div class="editable-box rank <?= $item->getClassName() ?>" id="<?= $item->getClassName() ?>.<?= $item->getId() ?>.rank">
            <span>Rank: </span>
            <span class="editable-text"><?= $item->getRank() ?></span>
        </div>
        <?php endif; ?>
        <div class="children item-list <?= $item->getClassName() ?>">
            <?php if (count($item->getAllChildren()) > 0): ?>
                <?php if (in_array($item->getClassName(),['Syllabus'])): ?>
                <hr>
                <?php elseif (in_array($item->getClassName(),['Category', 'Topic'])): ?>
                <div class="children-heading <?= $item->getClassName() ?>">
                    <?php if ($item->getClassName() == "Category"): ?>
                    Topics:
                    <?php elseif ($item->getClassName() == "Topic"): ?>
                    Tasks:
                    <?php else: ?>
                    Child items:
                    <?php endif; ?>
                </div>
                <?php endif; ?>
                <?php
                    foreach ($item->getAllChildren() as $childItem):
                        generateHierarchy($childItem);
                    endforeach;
                ?>
            <?php endif; ?>
        </div> <!-- end of children -->
    </div> <!-- end of parent -->
<?php
}