<?php if (!isset ($this->syllabus)): ?>
<p>
    Syllabus not found
</p>
<?php else: ?>

<h1><?= $this->syllabus->getTitle() ?></h1>
<div><?= $this->syllabus->getDescription() ?></div>
<hr>

<ul>
<?php foreach ($this->syllabus->getAllChildren() as $category): ?>
<li id="category<?= $category->getId() ?>">
    <?= $category->getTitle() ?>
    <ul>
        <li><?= $category->getDescription() ?></li>
        <li>
            Topics:
            <ul>
                <?php foreach ($category->getAllChildren() as $topic): ?>
                <li>
                    <?= $topic->getTitle(); ?>
                    <ul>
                        <li><?= $topic->getDescription(); ?></li>
                        <li><?= $topic->getRank(); ?></li>
                        <li>
                            Tasks:
                            <ul>
                                <?php foreach ($topic->getAllChildren() as $task): ?>
                                <li><?= $task->getTitle(); ?></li>
                                <?php endforeach ?>
                            </ul>
                        </li>
                    </ul>
                    
                </li>
                <?php endforeach ?>
            </ul>
        </li>
    </ul>
</li>
<?php endforeach ?>    
</ul>
<?php endif ?>