<?php
include __DIR__ . '/generateHierarchy.phtml';
?>

<?php if (!isset ($this->syllabus)): ?>
<p>
    Syllabus not found
</p>
<?php else: ?>
<div>
    Controls:
    <ul>
        <li id="comments-toggle">Show/hide user-specific info</li>
        <li id="descriptions-toggle">Show/hide descriptions</li>
        <li id="all-topic-content-toggle">Show/hide topics' details</li>
    </ul>
</div>

<?php
generateHierarchy($this->syllabus);
?>


<?php /*        
        
        
        
        <?php foreach ($this->syllabus->getAllChildren() as $category): ?>
        <div class="editable-box expandable-title category-title" id="Category.<?= $category->getId() ?>.title">
            <h3 class="editable-text"><?= $category->getTitle() ?></h3>
            <span class="count-topics"> (<?= count($category->getAllChildren())?> topics)</span>
        </div>
        <div class="expandable-content category-content">
            <div class="editable-box category-description" id="Category.<?= $category->getId() ?>.description">
                <span>Description: </span>
                <span class="editable-text"><?= $category->getDescription() ?></span>
            </div>
            <div class="editable-box category-comment user-syllabus" id="Category.<?= $category->getId() ?>.comments">
                <span>Your comment: </span>
                <span class="editable-text"><?= $category->getUserComments() ?></span>
            </div>
            <div class="category-topics item-list">
                <div class="category-topics-heading">
                    Topics: 
                </div>
                <?php foreach ($category->getAllChildren() as $topic): ?>
                <div class="editable-box expandable-title topic-title" id="Topic.<?= $topic->getId() ?>.title">
                    <span class="editable-text"><?= $topic->getTitle() ?></span>
                    <span class="count-tasks"> (<?= count($topic->getAllChildren())?> tasks)</span>
                </div>
                <div class="expandable-content topic-content">
                    <div class="editable-box topic-description" id="Topic.<?= $topic->getId() ?>.description">
                        <span>Description: </span>
                        <span class="editable-text"><?= $topic->getDescription() ?></span>
                    </div>
                    <div class="editable-box topic-comment user-syllabus" id="Topic.<?= $topic->getId() ?>.comments">
                        <span>Your comment: </span>
                        <span class="editable-text"><?= $topic->getUserComments() ?></span>
                    </div>
                    <div class="editable-box topic-rank" id="Topic.<?= $topic->getId() ?>.rank">
                        <span>Rank: </span>
                        <span class="editable-text"><?= $topic->getRank() ?></span>
                    </div>
                    <div class="topic-tasks item-list">
                        <div class="topic-tasks-heading">
                            Tasks: 
                        </div>
                        <?php foreach ($topic->getAllChildren() as $task): ?>
                            <div class="editable-box expandable-title task-title" id="Task.<?= $task->getId() ?>.title">
                                <span class="editable-text"><?= $task->getTitle() ?></span>
                            </div>                        
                            <div class="expandable-content task-content">
                                <div class="editable-box task-description" id="Task.<?= $task->getId() ?>.description">
                                    <span>Description: </span>
                                    <span class="editable-text"><?= $task->getDescription() ?></span>
                                </div>
                                <div class="editable-box task-comment user-syllabus" id="Task.<?= $task->getId() ?>.comments">
                                    <span>Your comment: </span>
                                    <span class="editable-text"><?= $task->getUserComments() ?></span>
                                </div>
                            </div><!-- end of task-content -->
                        <?php endforeach ?><!-- end of foreach as task -->
                    </div><!-- end of topic-tasks -->
                </div><!-- end of topic-content -->
                <?php endforeach ?><!-- end of foreach as topic -->
            </div> <!-- end of category-topics -->
        </div> <!-- end of category-content -->
        <?php endforeach ?> <!-- end of foreach as category -->
    </div> <!-- end of syllabus-categories -->
</div> <!-- end of syllabus-content -->
 * 
 */
?>

<?php endif ?>
<?php $this->inlineScript()->appendFile(
    '/js/syllabus.js?ver=16',
    'text/javascript');