.user-syllabus {
    color: purple;
}

.Topic.content {
    display: none;
}

.Task.content {
    display: none;
}

.edit-toggle {
    padding-left: 10px;
}

.expand-toggle {
    padding-left: 10px;
}

.remove-btn {
    padding-left: 10px;
}

.add-btn {
    padding-left: 10px;
}

.Topic.expandable-content {
    margin-left:30px;
}

.Task.expandable-content {
    margin-left:30px;
}

.Task.expandable-title {
    margin-left:30px;
    font-weight:bold;
}

h1.editable-text, h3.editable-text {
    display:inline-block;
}

div.title.Topic {
    font-weight:bold;
    font-size:1.1em;
}